@charset "UTF-8";
         
         
body{
    background-image: url(../imagens/wallpaper001.jpg);
    background-attachment: fixed;
    font-size: 15pt; 
}

.bran{
    margin: auto;
    padding-top: 100px;
    border-radius: 30px;
    background-color: #d3b588;
    width: 700px;
    
}

h1{ 
    margin-top: 0px;
    border-radius: 5pt;
    color: white;
    background-image: linear-gradient(to left, #C29C63 ,#755E3C );
    text-align: center;
    font-size: 25pt;
    box-shadow: rgba(0, 0, 0, 0.494) 5px 3px 10px;
}
a{
    color: white; 
    text-decoration: none;
}

div#email{ 
    position: relative;
    top: 50px;
    left: 25%; 
    border-radius: 20%;
    background-color:rgb(250, 103, 103);
    width: 100px; 
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: white; 
    box-shadow: black 5px 3px 10px;
} 
    


div#email > a {
    color: white; 
    text-decoration: none;
    }




div#Insta{ 
    text-decoration: none;
    position: relative; 
    left: 65%; 
    border-radius: 20%; 
    background-color:rgb(161, 102, 230); 
    width: 100px; 
    height: 100px; 
    line-height: 100px; 
    text-align: center; 
    color: white; 
    box-shadow: black 5px 3px 10px;
}

div#Insta > a {
        color: white; 
    text-decoration: none; 
}





div#whats{ 
    position: relative; 
    left: 65%; 
    bottom: 50px; 
    border-radius: 20%; 
    background-color:rgb(23, 232, 48); 
    width: 100px; 
    height: 100px; 
    line-height: 100px; 
    text-align: center; 
    color: white;
    box-shadow: black 5px 3px 10px;
 }

div#whats > a{
    color: white; 
    text-decoration: none; 
    
}



div#You{ 
     
    position: relative; 
    top: -300px; 
    left: 25%; 
    border-radius: 20%; 
    background-color:rgb(252, 22, 22); 
    width: 100px; 
    height: 100px; 
    line-height: 100px; 
    text-align: center; 
    color: white; 
    box-shadow: black 5px 3px 10px;
}

div#You> a {
    color: white; 
    text-decoration: none; 
}
@media screen and (max-width:300px) {
    h1{
        margin-right: 2%;
        margin-left: 0%;
        font-size: 20pt;
        padding: 0px;
        width: 190px;
    }
    .bran{
        margin: 0px;
        width: 190px;
    }
    
    
        
    
    #You{
        top: 20px;
    }
    #Insta{
        top:150px;
    }
    #whats{
        display: inline-block;
        position: relative;
        
        left: 25%;
        top:100px;
    }
}