@charset "UTF-8";


:root {
    --color00: #F7E4C8;
    --color01: #F5C57E;
    --color02: #C29C63;
    --color03: #755E3C;
    --color04: #756C5F;
   
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(imagens/wallpaper001.jpg);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
}

header{
    text-align: right;
    padding: 10px;
    background-image: linear-gradient(to left, var(--color02),var(--color03));
    
    color: var(--color00);
}

a{
    text-decoration: none;
}
#l1{
    padding-left: 60%;
}

#l2{
    margin-bottom: 20px;
    padding-left: 60%;
}
#li,#l2{
    display: block;
}

#MN{
    position: relative;
    top: -40px;
    background-color: black;
    display: inline-block;
    padding-right: 74px;
    margin-right: 0px;
    font-size: 9px;
    text-align: left;
    min-width:900px ;
    max-width: 1000px;
}
 
h1{
    color: white;

    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.522);
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 40pt;
    display: block;background-image: linear-gradient(to left, var(--color02),var(--color03));
}
nav > a{
    margin: auto;
    font-size: 15pt;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    transition-duration: 0.5s;        
    padding: 5px;
    background-color: var(--color02);
    color: white;
    display: block;
    text-align: right;
    display: block;background-image: linear-gradient(to left, var(--color02),var(--color03));

}

nav>a:hover {
    padding-right: 10px;
    background-color: var(--color01);
}

main{
    position: relative;

    top: -60px;
    border-radius: 0px 0px 10px 10px;
    text-align: justify;
    background-color: white;
    padding: 40px;
    margin: auto;
    margin-bottom: 30px;
    min-width: 100px;
    max-width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.57) 0px 25px 20px 0px;
}
main>p{
    text-indent: 15px;
    margin: 15px 0px;
    text-align: justify;
    line-height: 2em;
    font-size: 1em;
}

picture > img{

   
    width: 50%;
    display: block;
    margin: auto;

}
img{
    border-radius: 50%;
    display: block;
    margin: auto;
}
img:hover{
    transition-duration: 1s;  
    border-radius: 25%;
}
picture{
    margin: auto;
}

h2,h3 {
    
    color: var(--color03);
    font-size: 30px;
}
h2,h3:hover{
    transition-duration: 0.8s;  
    color: var(--color01);

}
p{
    text-indent: 20px;
    font-size: 20px;
}

.h22{
    color: var(--color03);
    font-size: 30px;
}
.Pri{
    font-size:20px ;
    line-height: 1em;

}

.h22:hover{
    color: var(--color01);
}
footer{
    
    padding-top: 5px ;
    padding-bottom: 3px;
    text-align: center;
    font-size: 10px;
    background-image: linear-gradient(to left, var(--color02),var(--color03));
    background-color: var(--color03);
    color: white;
}

@media screen and (max-width:600px) and (min-width:600px){
    #l1,#l2{
        padding:25px;
        

    }
    #l2{
        margin-bottom: 20px;
    }
}

